*{

    margin:0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
    background-color: black;

}

.mesorny {
    columns: 4;
    column-gap: 16px;
}


img{
    width: 100%;
    border-radius: 10px;
}

.grid-images {
  
    position: relative;
    display: inline-block; 
    margin-bottom: 16px;
  
   
}